include README.md
include requirements.txt
include BSD_LICENSE.txt
include BSD_NOTICE.txt
include scripts/autostartliota
include config/liota.conf
include config/logging.json
include examples/simulated_edge_system_graphite.py
include examples/simulated_graphite_event_based.py
include examples/simulated_graphite_temp.py
include examples/dell5k_edge_system_graphite.py
include examples/dell5k_edge_system_iotcc_websocket.py
include examples/dell5k_edge_system_with_filter_iotcc.py
include examples/multi_metric_simulated_edge_system_graphite.py
include examples/dk300_edge_system_iotcc_graphite.py
include examples/sampleProp.conf
include examples/model_simulated/graphite_bike_simulated.py
include examples/model_simulated/graphite_thermistor_simulated.py
include examples/model_simulated/iotcc_bike_simulated.py
include examples/model_simulated/iotcc_thermistor_simulated.py
include examples/mqtt/README.md
include examples/mqtt/dcc_comms/README.md
include examples/mqtt/dcc_comms/aws_iot/sampleProp.conf
include examples/mqtt/dcc_comms/aws_iot/simulated_home_auto_gen_topic.py
include examples/mqtt/dcc_comms/aws_iot/simulated_home_topic_per_metric.py
include examples/mqtt/dcc_comms/iotcc/sampleProp.conf
include examples/mqtt/dcc_comms/iotcc/dell5k_edge_system_iotcc_mqtt.py
include examples/mqtt/device_comms/README.md
include examples/mqtt/device_comms/iotcc/samplePropMqtt.conf
include examples/mqtt/device_comms/iotcc/iotcc_simulated_mqtt.py
include packages/dev_disc/liota_disc_pipe.sh
include packages/dev_disc/dev_disc.py
include packages/dev_disc/liota_devsim_pipe.sh
include packages/dev_disc/liota_devsim_load.py
include packages/dev_disc/dev_disc_mqtt.py
include packages/graphite.py
include packages/iotcc.py
include packages/iotcc_mqtt.py
include packages/aws_iot.py
include packages/sampleProp.conf
include packages/liotad.py
include packages/liotapkg.sh
include packages/packages_auto.txt
include packages/examples/bike_simulator.py
include packages/examples/iotcc_ram.py
include packages/examples/graphite_bike_simulated.py
include packages/examples/iotcc_bike_simulated.py
include packages/examples/graphite_edge_system_stats.py
include packages/examples/graphite_edge_system_stats_with_filter.py
include packages/examples/iotcc_edge_system_stats.py
include packages/examples/iotcc_edge_system_stats_with_filter.py
include packages/examples/iotcc_resource_properties.py
include packages/examples/thermistor_simulator.py
include packages/examples/graphite_thermistor_simulated.py
include packages/examples/iotcc_thermistor_simulated.py
include packages/examples/mqtt/aws_iot/simulated_home_auto_gen_topic.py
include packages/examples/mqtt/aws_iot/simulated_home_topic_per_metric.py
include packages/examples/mqtt/iotcc/iotcc_mqtt_edge_system_stats.py
include packages/examples/mqtt/iotcc/iotcc_mqtt_ram.py
include packages/examples/mqtt/iotcc/iotcc_resource_properties_mqtt.py
include packages/edge_systems/dell5k/edge_system.py
