include README.md
include requirements.txt
include BSD_LICENSE.txt
include BSD_NOTICE.txt
include config/liota.conf
include config/logging.json
include examples/simulated_edge_system_graphite.py
include examples/simulated_graphite_event_based.py
include examples/simulated_graphite_temp.py
include examples/dell5k_edge_system_graphite.py
include examples/dell5k_edge_system_iotcc.py
include examples/multi_metric_simulated_edge_system_graphite.py
include examples/dk300_edge_system_iotcc_graphite.py
include example/sampleProp.conf
include examples/model_simulated/graphite_bike_simulated.py
include examples/model_simulated/graphite_thermistor_simulated.py
include examples/model_simulated/iotcc_bike_simulated.py
include examples/model_simulated/iotcc_thermistor_simulated.py
include packages/graphite.py
include packages/iotcc.py
include packages/sampleProp.conf
include packages/liotad.py
include packages/liotapkg.sh
include packages/packages_auto.txt
include packages/examples/bike_simulator.py
include packages/examples/iotcc_ram.py
include packages/examples/graphite_bike_simulated.py
include packages/examples/iotcc_bike_simulated.py
include packages/examples/graphite_edge_system_stats.py
include packages/examples/iotcc_edge_system_stats.py
include packages/examples/thermistor_simulator.py
include packages/examples/graphite_thermistor_simulated.py
include packages/examples/iotcc_thermistor_simulated.py
include packages/edge_systems/dell5k/edge_system.py
